$var1: #223E69;
$var2: #D0021B;
$var3: #417505;
$var4: #355B08;
$var5: #FFF6F6;
$var6: #FAFFEE;
$var7: #FFFFFF;

.third {
	position: relative;
	margin: 0 40px 40px 40px;
	max-width: 1080px;
	&-icons {
		opacity: 0.3;
	}
}
.inner {
	overflow-x: scroll;
	overflow-y: visible;
	max-width: 39.2rem;
	margin-left: 373px;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	content: "";
	position: absolute;
	left: 0;
	width: 285px;
	height: 52px;
	border: 1px solid rgba(17, 34, 62, 0.2);
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-align: left;
}
.th-border-none {
	border-right: none;
	border-bottom: none;
	border-top: none;
}
.column-second {
	position: absolute;
	padding-top: 15px;
	left: 285px;
	width: 89px;
	border: 1px solid rgba(17, 34, 62, 0.2);
	text-align: center;
	&-border-none {
		border: none;
		position: absolute;
		padding-top: 15px;
		left: 285px;
		width: 89px;
		text-align: center;
	}
	&-flex {
		display: flex;
		justify-content: center;
		line-height: 12px;
		padding-left: 13px;
	}
}
td {
	height: 52px;
	min-width: 44px;
	border: 1px solid rgba(17, 34, 62, 0.07);
	text-align: center;
}
.table-hidden {
	display: none;
	border: none;
}
.checking__main {
	height: 20px;
	width: 20px;
	background-color: rgba(34, 62, 105, 0.1);
	mix-blend-mode: normal;
	opacity: 0.1;
	border-radius: 5px;
	margin: 15px 14px 15px 20px;
}
.checking {
	height: 20px;
	width: 20px;
	background: $var1;
	mix-blend-mode: normal;
	opacity: 0.1;
	border-radius: 5px;
	margin: 15px 14px 15px 20px;
}
.table-top {
	font-size: 12px;
	line-height: 8px;
	letter-spacing: 0px;
	text-align: left;
}
.img-light {
	border-radius: 5px;
	margin: 0 auto;
}
.first-icons {
	opacity: 0.3;
}
.second-icons {
	opacity: 0.3;
}
.td-top {
	font-size: 10px;
	color: $var2;
	line-height: 7px;
	letter-spacing: 0px;
	text-align: right;
	&-green {
		font-size: 10px;
		color: $var3;
		line-height: 7px;
		letter-spacing: 0px;
		text-align: right;
	}
}
.td-center {
	padding-top: 4px;
}
.td-bottom {
	font-size: 10px;
	line-height: 8px;
	text-align: center ;
	color: $var4;
	background: rgba(117, 185, 38, 0.3);
	height: 11px;
	width: 22px;
	border-radius: 3px;
	padding: 2px 5px 1px 5px;
	margin: auto;
	&-empty {
		font-size: 10px;
		line-height: 8px;
		text-align: center ;
		height: 11px;
		width: 22px;
		border-radius: 3px;
		padding: 2px 5px 1px 5px;
		margin: auto;
	}
}
.border-none {
	border: none ;
}
.border-right {
	border-right: 1px solid rgba(17, 34, 62, 0.07);
	border-top: none;
	border-left: none;
	border-bottom: none;
}
.imagerotate {
	transition: 0.35 ease;
	transform: rotate(0deg);
	&-animate {
		transform: rotate(90deg);
		padding-left: 3px ;
	}
}
.icons-item {
	margin-right: 16px;
}
.FFF6F6 {
	background: $var5;
}
.FAFFEE {
	background: $var6;
}
.btn {
	margin-left: 54px;
	margin-top: 20px;
	height: 32px;
	width: 174px;
	border-radius: 5px;
	border: 1px solid rgba(34, 62, 105, 0.2);
	background-color: $var7;
	font-size: 14px;
	font-weight: 800;
	line-height: 10px ;
	color: rgba(17, 34, 62, 1);
	cursor: pointer;
}
.padding-right17 {
	padding-right: 17px;
	padding-top: 11px;
}
.threl {
	position: relative;
}
a {
	text-decoration: none;
	color: rgba(17, 34, 62, 1);
	position: absolute;
	padding-top: 17px;
}
.star {
	position: absolute;
	right: -48px;
}
#rotateimg1 {
	position: absolute;
	right: -62px;
	top: 20px;
}
#rotateimg2 {
	position: absolute;
	right: -110px;
	top: 20px;
}
